<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Styde.net | Curso de VueJS</title>

    <!-- Bootstrap -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="vue.js"></script>

</head>

<body id="app">
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <template v-if="name">
            <welcome-message :name="name" :gender="gender"></welcome-message>
            <p>Espero que disfrutes tu visita</p>
            <p>Tu nombre al revés es: {{ name.split('').reverse().join('') }}</p>
        </template>

        <p v-else>Por favor escribe tu nombre</p>

        <form @submit="signUp(false, $event)">
            <input type="text" v-model="name" class="form-control">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger" v-if="!name">Este Campo es obligatorio</li>

                <li class="list-group-item list-group-item-danger" v-if="name.length < 2">EL nombre no es valido</li>
            </ul>

            <br>

            <label>
                Hombre: <input v-model="gender" type="radio" value="m">
            </label>

            <label>
                Mujer:  <input type="radio" v-model="gender" value="f">
            </label>

            <hello-world></hello-world>

            <br>

            <template v-for="tech in techs">
                <years-exp :years.sync="tech.years" :tech="tech.name"></years-exp>
            </template>
            <form class="form">
                <textarea v-model="new_tech.name" class="form-control"></textarea>
                <button @click.prevent="addTech" type="submit" class="btn btn-primary">Agregar Tecnologia</button>
            </form>


            <hr>

            <img src="https://vuejs.dev/logo.png" :title="years_php">

            <hr>
            <p v-show="name">
                <button type="submit" class="btn btn-primary">Registrate</button>
                <button type="submit" class="btn btn-primary" @click.prevent="signUp(true, $event)">Registrate y sal del sistema</button>
            </p>

            <hr>

        </form>



        <hr>

        <pre>{{ $data | json }}</pre>

    </div>
</div>

<script type="text/template" id="welcome_template">
    <h1>{{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}</h1>
</script>

<script type="text/template" id="years_template">
    <p>¿Cuántos años de experiencia tienes con {{ tech }}?</p>

    <p>
        Respuesta: <strong>{{ years }}</strong>

        <button type="button"
                class="btn"
                @click="add"> + </button>
        <button type="button"
                class="btn"
                :disabled="years == 0"
                @click="sub"> - </button>
    </p>
</script>

<script type="text/javascript">

    Vue.component('hello-world', {
        template: '<h2>Hello world</h2>'
    });

    Vue.component('welcome-message', {
        template : '#welcome_template',
        props: {
            gender  : {type: String, required: false, default: 'm'},
            name    : {type: String, required: true}
        }
    });

    Vue.component('years-exp', {
        template    : '#years_template',
        methods     : {
            add: function () {
                this.years++;
            },

            sub: function () {
                this.years--;
            },
        },
        props: ['years', 'tech']
    })

    new Vue({
        el: "#app",
        data: {
            name: "",
            gender: "",
            techs: [
                {name: 'PHP', years: 0},
                {name: 'JS', years: 0},
                {name: 'HTML', years: 0},
            ],
            new_tech: {name: '', years: 0}
        },
        methods: {
            signUp: function(logout, event) {
                event.preventDefault();
                alert(this.name + ' por favor espera mientras te registramos.');

                if (logout) {
                    alert("Saliendo del sistema....")
                }
            },

            addTech: function() {
                this.techs.push(this.new_tech);
                this.new_tech = {name: '', years: 0}


            }
        }
    });

    /*$(document).ready(function () {

     $('#name').keyup(function () {
     $('#title').text("Bienvenido " + $('#name').val());
     });
     });*/
</script>
</body>
</html>